<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
</head>
<body>
    <h1>Patient Dashboard</h1>
    <h2>Lab Reports</h2>
    <ul>
        {% for report in reports %}
            <li>
                Report ID: {{ report._id }}, Patient: {{ report.patient_name }}, Status: {{ report.status }},
                {% if report.status == 'pending' %}
                    <a href="/pdf/{{ report.url }}">View PDF</a>
                {% endif %}
                {% if report.status == 'completed' %}
                    <form action="/send_consultation" method="POST">
                        <input type="hidden" name="report_id" value="{{ report.r_id }}">
                        <select name="doctor">
                            <option value="d1">Doctor 1</option>
                            <option value="d2">Doctor 2</option>
                            <!-- Add other doctors dynamically -->
                        </select>
                        <button type="submit">Send for Consultation</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Consultations</h2>
    <ul>
        {% for report in reports1 %}
           <li>
    Report ID: {{ report.report_id }}, Doctor: {{ report.doctor }}, Status: {{ report.status }},
    <a href="pdf/{{ report.pdf_url }}">PDF</a>
</li>

        {% endfor %}
    </ul>
</body>
</html>
